*{
    padding: 0;
    margin: 0;
    font-family:Arial,sans-serif;
}

/* #navbar{
    width: 100%;
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    background-color: white;
}
#first_div{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;

} 
#logo{
    margin-right: -80px;
}
#logo_sec{
  display: flex;
  gap: 40px;
  height: 100%;
}
#logo_sec>div>a{
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
#logo_sec>div:hover{
    height: 100%;
    border-bottom: 4px solid blue;
}
#logo_sec>div>a:hover{
    color: blue;
}
#second_div{
    width: 35%;
    height: 95%;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 20px;
    justify-content: space-evenly;
}
#second_div>div{
    height: 100%;
    display: flex;
    align-items: center;
}
#second_div>div>a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.content:hover{
    color: blue;
    border-bottom: 4px solid blue;
}
#second_div>div>a:hover{
    color: blue;
}
#second_div>div>a>img{
    width: 25%;
    margin-right:8px;
}
#create_acc{
    width: 200px;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    background-color: blue;
}
#create_acc:hover{
    cursor: pointer;
    background-color: rgb(3, 3, 152);
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0; 
  }


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  } */
#section_1{
    width: 84%;
    position: relative;
    margin: 90px auto;
}
#section_1 > img{
    display: block;
    margin: 0px auto;
}
.sp1{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    gap: 180px;
}
#section_1 > img {
    width: 1026px;
    height: 678px;
}

#box1{
    width: 45%;
    height: 350px;
    margin-top: -50px;
}
#box1 > h1 {
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 600;
    font-size: 3.9rem;
    line-height: 4.6rem;
    margin-bottom: 1.6rem;
    font-size: 40px;
    line-height: 56px;
}
#box1 > p {
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
#box1 > a {
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 100px;
    text-decoration: none;
    color: #0037ff;
}
#box2{
    height: 500px;
    margin-top: 100px;
}
.images {
    display: flex;
    gap: 20px;
    line-height: 25px;
}
.images:nth-child(2){
    margin: 20px 0px; 
}
.images > div > img {
    width: 270px;
    height: 152px;
    border-radius: 5px;
}

.images > div:nth-child(2) {
    width: 400px;
}

.images > h4 {
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
}

#article > p,li,ul {
    font-family: "NBI Pro Mono",Arial,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#article > ul,p{
    display: inline-block;
    margin: 0px 10px;
}
.fa-solid:hover {
    margin-left: 9px;
}
.images > div:nth-child(2) > a {
    text-decoration: none;
    color: #0037ff;
}

/* ***************************section2*************************   */

#section2 {
    width: 85%;
    margin: 30px auto;
    display: flex;
    gap: 21px;
    margin-top: -50px;
}
.second >img {
    width: 804px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
}
.second {
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 600;
    line-height: 35px;
}
#article > p{
    margin-left: -1px;
}
.second > a{
    text-decoration: none;
    color: #0037ff;
}

/* ***************************section3************************* */

#section3 {
    width: 52%;
    margin: 100px 150px;
}
#section3 > h2 {
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 600;
    line-height: 35px;
    font-size: 39px;
    margin-bottom: 30px;
}
#section3 > p {
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 400;
    line-height: 23px;
    font-size: 16px;
}
#section3 > p > a {
    text-decoration: none;
    color: #0037ff;
}
#section4>h1{
    width: 85%;
    margin: auto;
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 600;
    line-height: 35px;
    font-size: 39px;
    margin-bottom: 20px;
}
.section4 {
    width: 85%;
    margin: auto;
    display: flex;
    gap: 30px;
}

#subcribe{
    width: 86%;
    margin: 100px auto;
    height: 220px;
    background-color: #ffcc00;
    position: relative;
    border-radius: 8px;
}
#background > img {
    width: 993px;
    height: 280px;
    object-fit: cover;
    opacity: .4;
    position: relative;
}
#background > h1{
    position: absolute;
    top: 35%;
    left: 19%;
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 600;
    line-height: 35px;
    font-size: 28px;
}
#background > p{
    position: absolute;
    top: 54%;
    left: 18%;
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 400;
    line-height: 23px;
    font-size: 16px;
}
#background > button{
    position: absolute;
    top: 40%;
    left:66%;
    border: none;
    background-color: #0037ff;
    color: #fff;
    padding: 1rem 2.8rem;
    border-radius: 25px;
    font-size: 15px;
}
#background > button:hover {
    background-color: #022b9c;
}
#video > h2{
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 600;
    line-height: 35px;
    font-size: 39px;
    margin-bottom: 40px;
}
#video {
    width: 85%;
    margin: 150px auto;

}
#secondnav {
    width: 100%;
    height: 90px;
    background-color: #080736;
    display: inline-flex;
    justify-content: space-between;
    /* position: fixed; */
    top: 90px;
    left: 0;
    z-index: 99;
}
#block {
    width: 85%;
    margin: 0px auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
#block > div:nth-child(1) {
    display: inline-flex;
    align-items: center;
}
#block > div > a {
    text-decoration: none;
    color: #f9f9f9;
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 20px;
}
#block > div > a:hover{
    margin-bottom: 2px;
    border-bottom: 4px solid blue;
}
#block > div >h1 {
    text-decoration: none;
    color: #f9f9f9;
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 600;
    font-size: 31px;
    margin: 0px 20px;
}
#block > div >p {
    text-decoration: none;
    color: #f9f9f9;
    font-family: "TT Commons",Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 20px;
}
#footer{
    background-color: #080736;
    width: 100%;
    height: 400px;
}
#footer>div{
    width: 90%;
    margin: auto;
   
    
}
#footer>div:first-child{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
    margin-bottom: 30px;

}
#footer>div>img{
    width: 5%;
    
}
#footer>div:first-child>div{
    color: white;
}
#footer>div:first-child>div>select{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background-color: rgb(70, 70, 116);
    color: white;
}
#footer_card{
 width: 100%;
    display: flex;
    gap: 50px;
   
}
#footer_card>div{
   width: 25%; 
   margin: auto;
   
}
#footer_card>div>h4{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer_card>div>a{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 13px;
    margin-bottom: 15px;
}

#footer_card>div>a:hover{
    text-decoration: underline;
}
#footer_card>div:nth-child(4){
    padding-bottom:95px;
}
#footer_card>div>p{
    color: white;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 30px;
}
#contact_us{
    font-size: 18px;
}
#last{
    width: 100%;
    height: 100px;
    background-color:  #393a5d;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-evenly
}
#last>div{
    display: flex;
    gap: 20px;
}
#last>div>img{
    width: 30px;
    cursor: pointer;
   /* margin-left: -50px; */
}
#last>div>a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    /* margin-left: -30px;
    margin-right: -30px; */
}
#last>p{
    font-size: 14px;
}